<div class="case-split-container">
  <!-- 左边 iframe 区域 -->
  <div class="left-panel">
    <iframe src="{{url}}"></iframe>
  </div>

  <!-- 右边代码展示区域 -->
  <div class="right-panel">
    <pre><code class="language-javascript">{{jsCode}}</code></pre>
  </div>
</div>