<div id="toc-list-container">
  <div class="header-section">
    <h2>WebGL简易教程</h2>
    <div class="sub-header">
      <span class="author">作者 charlee44</span>
      <a href="https://charlee44.com" class="home-link" target="_blank">博客主页</a>
    </div>
  </div>

  {{#each cases}}
    <div class="toc-item" data-id="{{url}}">
      <img src="{{cover}}" alt="icon" class="toc-icon" />
      <span class="toc-title">{{title}}</span>
    </div>
  {{/each}}
</div>